
  /*YHMAC MAIN TEXT*/
  .yhmac-selected{
    .yhmac-selected__container{
      display: flex;
      align-items: center;

      @media screen and (orientation:landscape) {
        justify-content: center;
        width: 35%;
      }
      @media screen and (orientation:portrait) {
        width: 70%;
        margin-left: 20px;

      }

      height: 100vh;

      .yhmac-person-text__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;

        @media screen and (orientation:portrait) {
          margin-top: 80%
        }


        .yhmac-person-text.selected{
          z-index: 100;
          display: inline-block;
          display: flex;

          h1,h2,h3,h4 {
            font-family: "MontserratBlack";
            font-size: 4.5vw;
            line-height: 1;
            margin: 0;
            padding: 1.25rem 2rem;
            color: black;
            font-weight: 900;
            text-transform: uppercase;
            background-color: white;
            text-align: center;
          }

          &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }

        .desc{
          font-family: "MontserratRegular";
          margin: 20px;
          background-color: white;
          font-size: 1.8vw;
          padding: 0.5rem 2rem;
          color: black;
          text-align: justify;
          line-height: 1;
          z-index: 100;


          @media screen and (orientation:portrait) {
            font-size: 4vw;
          }
        }

        .yhmac-person-links{
          font-weight: bold;
          text-decoration: none;
          padding: 5px;
          z-index: 100;
          font-size: 1.8vw;

          .videoLink,.postLink{
            font-family: "MontserratRegular";
            margin: 20px;
            background-color: white;
            padding: 0.5rem 2rem;
            line-height: 1;
            z-index: 100;
            display: flex;
            justify-content: center;
          }


          a,a:visited,a:hover{
            color: red;
            text-decoration: none;
          }
        }


      }
    }
  }
