body{
  //background: rgb(35,35,35);
}
.yhmac-person__image{
  height: 100px;
  width: 100px;
}

.yhmac-person{
  width:11.88888888888889vw;
  height:43.16138114209828vh;
  transition: 0.4s ease-in;
  filter: grayscale(100%);
}

.yhmac-person.selected{
  height:86.32138114209828vh;
  width:20.88888888888889vw;
  transition: 0.4s ease-in;
  filter: grayscale(0%);
}



img.fit{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid{
  bottom: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
  .outer{
    .table{
      ul{
        display: flex;
        align-items: flex-end;
         justify-content: center;
         width: 100%;
         margin: 0;
         padding: 2;

        li{
          display: block;
           flex: 0 1 auto; /* Default */
           list-style-type: none;
           //background: #fafafa;
           padding: 5px;
        }
      }
    }
  }
}


.person-text{
  font-size: 72px;
  color: white;
  font-family: "Montserrat";
  font-weight: 800 Black;
}
