/* line 2, ../../sass/components/general.scss */
.yhmac-person__image { height: 100px; width: 100px; }

/* line 8, ../../sass/components/general.scss */
.yhmac-person--selected { height: 86.32138114209828vh; width: 13.88888888888889vw; }

/* line 13, ../../sass/components/general.scss */
img.fit { height: 100%; width: 100%; object-fit: cover; }

/* line 19, ../../sass/components/general.scss */
.grid { float: right; }

/* line 22, ../../sass/components/general.scss */
.fade { animation: fading 1s; }

@keyframes fading { from { opacity: 0; }
  to { opacity: 1; } }
