/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* line 4, ../sass/components/general.scss */
.yhmac-person__image { height: 100px; width: 100px; }

/* line 9, ../sass/components/general.scss */
.yhmac-person { width: 11.88888888888889vw; height: 33.16138114209828vh; transition: 0.4s ease-in; filter: grayscale(100%); }

/* line 16, ../sass/components/general.scss */
.yhmac-person.selected { height: 56.32138114209828vh; transition: 0.4s ease-in; filter: grayscale(0%); }

/* line 30, ../sass/components/general.scss */
img.fit { height: 100%; width: 100%; object-fit: cover; }

/* line 36, ../sass/components/general.scss */
.grid { overflow: hidden; position: absolute; width: 100%; height: 100%; display: flex; justify-content: flex-end; align-items: flex-end; }
/* line 46, ../sass/components/general.scss */
.grid ul { align-items: center; display: flex; overflow: scroll; height: 100%; width: 70%; }
/* line 53, ../sass/components/general.scss */
.grid ul li { margin: 5px; }
/* line 57, ../sass/components/general.scss */
.grid ul::-webkit-scrollbar { display: none; }

/* line 63, ../sass/components/general.scss */
.yhmac-person-text__container { display: flex; align-items: center; height: 100vh; margin: 50px; }
/* line 69, ../sass/components/general.scss */
.yhmac-person-text__container .yhmac-person-text.selected { font-size: 60px; display: inline-block; position: absolute; }

/* line 77, ../sass/components/general.scss */
.reveal-text { position: relative; overflow: hidden; }
/* line 81, ../sass/components/general.scss */
.reveal-text h1 { font-family: Montserrat; font-size: 5vw; line-height: 1; margin: 0; padding: 1.25rem 2rem; color: black; font-weight: 900; text-transform: uppercase; animation: fadeIn 0s 0.2s; animation-fill-mode: backwards; }
/* line 94, ../sass/components/general.scss */
.reveal-text::after { position: absolute; content: ''; left: 0; top: 0; width: 100%; height: 100%; background: black; transform: translateX(-100%); animation: secondaryImageOverlayIn 0.2s 0s, secondaryImageOverlayOut 0.2s 0.2s; animation-fill-mode: both; }

@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes secondaryImageOverlayIn { 0% { width: 0; }
  100% { width: 100%; } }
@keyframes secondaryImageOverlayOut { 0% { transform: translateX(0); }
  100% { transform: translateX(100%); } }
