/* line 1, ../sass/styles.scss */
.yhmac-app { /*YHMAC MAIN GRID*/ /*YHMAC MAIN TEXT*/ /*YHMAC MAIN TEXT*/ /*ANIMATIONS - START*/ /*ANIMATIONS - END*/ /* DEMO-SPECIFIC STYLES */ /* The typing effect */ /* The typewriter cursor effect */ }
/* line 4, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid { overflow: hidden; position: absolute; width: 100%; height: 100%; display: flex; justify-content: flex-end; align-items: flex-end; }
/* line 14, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper { align-items: center; display: flex; overflow: scroll; height: 100%; width: 65%; }
@media screen and (orientation: portrait) { /* line 14, ../sass/components/_grid.scss */
  .yhmac-app .yhmac-grid ul.gridWrapper { width: 100%; } }
/* line 26, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper li.gridItem { margin: 5px; }
/* line 29, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper li.gridItem .yhmac-person { width: 11.88888888888889vw; height: 33.16138114209828vh; transition: 0.4s ease-in; filter: grayscale(100%); -webkit-filter: grayscale(100%); }
@media screen and (orientation: portrait) { /* line 29, ../sass/components/_grid.scss */
  .yhmac-app .yhmac-grid ul.gridWrapper li.gridItem .yhmac-person { width: 70vw; height: 50.16138114209828vh; } }
/* line 41, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper li.gridItem .yhmac-person:hover { cursor: pointer; }
/* line 45, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper li.gridItem .yhmac-person .yhmac-person__image { height: 100%; width: 100%; object-fit: cover; }
/* line 51, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper li.gridItem .yhmac-person.selected { height: 56.32138114209828vh; width: 17.88888888888889vw; transition: 0.4s ease-in; filter: grayscale(0%); -webkit-filter: grayscale(0%); }
@media screen and (orientation: portrait) { /* line 51, ../sass/components/_grid.scss */
  .yhmac-app .yhmac-grid ul.gridWrapper li.gridItem .yhmac-person.selected { width: 70vw; height: 74.32138114209828vh; } }
/* line 64, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper li.gridItem .yhmac-person.not-selected { opacity: 0.4; }
/* line 70, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper li.gridItem .yhmac-person .comingsoon { filter: grayscale(100%); }
/* line 76, ../sass/components/_grid.scss */
.yhmac-app .yhmac-grid ul.gridWrapper::-webkit-scrollbar { display: none; }
/* line 3, ../sass/components/_issueNo.scss */
.yhmac-app .yhmac-issue { width: 30%; margin: 20px; position: absolute; top: 0; right: 0; z-index: -1; }
/* line 10, ../sass/components/_issueNo.scss */
.yhmac-app .yhmac-issue .yhmac-issue__container { width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; }
/* line 17, ../sass/components/_issueNo.scss */
.yhmac-app .yhmac-issue .yhmac-issue__container .yhmac-issue__number { margin: 0; font-family: "MontserratBlack"; font-size: 10vw; background-color: white; font-weight: bold; }
/* line 4, ../sass/components/_personInfo.scss */
.yhmac-app .yhmac-selected .yhmac-selected__container { display: flex; align-items: center; height: 100vh; }
@media screen and (orientation: landscape) { /* line 4, ../sass/components/_personInfo.scss */
  .yhmac-app .yhmac-selected .yhmac-selected__container { justify-content: center; width: 35%; } }
@media screen and (orientation: portrait) { /* line 4, ../sass/components/_personInfo.scss */
  .yhmac-app .yhmac-selected .yhmac-selected__container { width: 70%; margin-left: 20px; } }
/* line 20, ../sass/components/_personInfo.scss */
.yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; }
@media screen and (orientation: portrait) { /* line 20, ../sass/components/_personInfo.scss */
  .yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper { margin-top: 80%; } }
/* line 32, ../sass/components/_personInfo.scss */
.yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper .yhmac-person-text.selected { display: inline-block; display: flex; }
/* line 36, ../sass/components/_personInfo.scss */
.yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper .yhmac-person-text.selected h1, .yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper .yhmac-person-text.selected h2, .yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper .yhmac-person-text.selected h3, .yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper .yhmac-person-text.selected h4 { font-family: "MontserratBlack"; font-size: 4.5vw; line-height: 1; margin: 0; padding: 1.25rem 2rem; color: black; font-weight: 900; text-transform: uppercase; background-color: white; text-align: center; }
/* line 49, ../sass/components/_personInfo.scss */
.yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper .yhmac-person-text.selected::after { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
/* line 58, ../sass/components/_personInfo.scss */
.yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper .desc { font-family: "MontserratRegular"; margin: 20px; background-color: white; font-size: 1.8vw; padding: 0.5rem 2rem; color: black; text-align: justify; line-height: 1; }
@media screen and (orientation: portrait) { /* line 58, ../sass/components/_personInfo.scss */
  .yhmac-app .yhmac-selected .yhmac-selected__container .yhmac-person-text__wrapper .desc { font-size: 4vw; } }
/* line 3, ../sass/components/_gridAnimations.scss */
.yhmac-app .reveal-text-animation { position: relative; overflow: hidden; }
/* line 7, ../sass/components/_gridAnimations.scss */
.yhmac-app .reveal-text-animation h1, .yhmac-app .reveal-text-animation .desc { animation: fadeIn 0s 0.4s; animation-fill-mode: backwards; }
/* line 12, ../sass/components/_gridAnimations.scss */
.yhmac-app .reveal-text-animation::after { position: absolute; content: ''; left: 1px; top: 0; width: 100%; height: 100%; background: #232323; transform: translateX(-100%); animation: secondaryImageOverlayIn 0.4s 0s, secondaryImageOverlayOut 0.4s 0.4s; animation-fill-mode: both; }
@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes secondaryImageOverlayIn { 0% { width: 0; }
  100% { width: 100%; } }
@keyframes secondaryImageOverlayOut { 0% { transform: translateX(0); }
  100% { transform: translateX(100%); } }
/* line 60, ../sass/components/_gridAnimations.scss */
.yhmac-app .typewriter { overflow: hidden; /* Ensures the content is not revealed until the animation */ border-right: .15em solid orange; /* The typwriter cursor */ white-space: nowrap; /* Keeps the content on a single line */ margin: 0 auto; /* Gives that scrolling effect as the typing happens */ animation: typing 0.4s steps(30, end), blink-caret 1s step-end infinite; }
@keyframes typing { from { width: 0; }
  to { width: 100%; } }
@keyframes blink-caret { from, to { border-color: transparent; }
  50% { border-color: red; } }
